# Compiled files
*.class
*.jar
*.war
*.ear

# Build directories
target/
build/

# Allure
.allure/
allure-report/


# IDE - IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# IDE - Eclipse
.classpath
.project
.settings/
bin/

# IDE - VS Code
.vscode/
.code-workspace

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Maven
.mvn/
mvnw
mvnw.cmd

# Temporary files
*.tmp
*.temp
*.cache